@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
	--color-background: var(--background);
	--color-primary-text: var(--primary-text);
	--color-secondary-text: var(--secondary-text);
	--color-button-link: var(--button-link);
	--color-hover: var(--hover);
	--color-border: var(--border);
	--color-card-background: var(--card-background);
}

[data-theme='dark'] {
	--background: #111827;
	--primary-text: #f3f4f6;
	--secondary-text: #9ca3b0;
	--button-link: #6467f2;
	--hover: #828df8;
	--border: #384252;
	--card-background: #1f2937;
}

[data-theme='light'] {
	--background: #f9fafb;
	--primary-text: #1f2937;
	--secondary-text: #6b7280;
	--button-link: #5048e5;
	--hover: #463acb;
	--border: #e5e7eb;
	--card-background: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Hero Heading (h1) */
.hero-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	font-style: normal;
	line-height: 1.5;
}

/* Section Headings (h2) */
.section-heading {
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5;
}

/* Subheading (h3) */
.subheading {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	font-style: normal;
	line-height: 1.5;
}

/* Project Titles (h4) */
.project-title {
	font-family: 'Poppins', sans-serif;
	font-size: 1.25rem;
	font-weight: 600;
	font-style: normal;
	line-height: 1.5;
}

/* Normal Text (p, span) */
.normal-text {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	line-height: 1.5;
}

/* Caption Text (p, span) */
.caption {
	font-family: 'Roboto', sans-serif;
	font-size: 0.875rem;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
	line-height: 1.5;
}
